.counter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.counter p span {
    font-weight: bold;
}

.counter p {
    margin: 0;
    font-size: 25px;
}
